<footer class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p class="text-muted">¡Síguenos en nuestras redes sociales!</p>
      </div>
      <div class="col-md-6">
        <ul class="list-group social-buttons float-end text-rigth ml-0">
          <li class="list-inline-item text-rigth ml-0">
            <a href="https://www.facebook.com/" target="_blank">Página de
              facebook
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item text-rigth ml-0">
            <a href="https://www.instagram.com/" target="_blank">Página de
              instagram
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <p>&copy; 2023 La Vin Nais APP</p>
      <p>Desarrollado por FelinaTech </p>
    </div>
  </div>
</footer>