<nav class="navbar navbar-expand-lg sticky-top">

  <div class="container-fluid">
    <div class="col col-lg-2">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-md-auto">
      <a class="navbar-brand center" href="/"><img
          src="/images/la-vin-nails-logo.png"
          alt="logo la vin nails"
          height="30"
        /></a>
    </div>
    <div class="col col-lg-2 text-end me-2">
      
        <a class="nav-link" href="/users/{{currentUser.id}}/update">
          <i class="fas fa-user text-success"></i></a>
      {{else}}
        <a class="nav-link" href="/login">
          <i class="fas fa-user text-secondary"></i></a>
      
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link active mt-3"
          aria-current="page"
          href="/services/list"
        >Servicios</a>
        <a class="nav-link" href="/login">Login</a>
        {{#isAuthenticated user}}
          <a class="nav-link" href="/users/{{currentUser.id}}/update">Mi perfil</a>
        {{/isAuthenticated}}
        {{#isAuthenticated user}}
          {{#isAdmin currentUser}}
            <a class="nav-link" href="/dates/list/pending">Citas solicitadas</a>
          {{/isAdmin}}
        {{/isAuthenticated}}
      </div>
    </div>
  </div>

</nav>