<div class="container view text-center">
  <h1 class="mb-5 mt-3 view-title">¿Quienes somos?</h1>
  <div class="text-center mt-3">
      <a class="mt-" href="/"><img src="/images/la-vin-nails-logo.png" alt="logo la vin nails" height="130"/></a>
  </div>

  
  <div class="card-body m-3 text-justify">      
      <p class="card-text">Lavin Nails es una empresa líder en el cuidado de
        uñas y manicuría, que ofrece servicios personalizados y de alta
        calidad en un ambiente relajante y satisfactorio. Visítalos para
        experimentar la diferencia de una empresa comprometida con tu
        bienestar.</p>      
  </div>

  <div class="mt-5 text-center">
    <h5>Contactanos al +34 699 86 19 30</h5>
    <h5>lavinnails@gmail.com</h5>
  </div>
  

</div>