<div class="d-grid gap-2 col-6 mx-auto">
  <div>
    <div>
      <a class="btn btn-dark" type="button" href="/services/list">Catalogo de servicios</a>
    </div>
  </div>

  
  
  <a class="btn btn-outline-primary" type="button" href="/login">Login</a>
  <a class="btn btn-outline-primary" type="button" href="users/new">Registrate</a>

</div>

<div class="home-container">

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/carrusel_1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/carrusel_3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/carrusel_4.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>  

</div>
