.body {
  background-color: #fee8ef;
}

.container {
  margin-top: 20px;
}

.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}

h5 {
  font-family: sans-serif, serif;
  font-size: medium;
  font-style: normal;
  font-weight: 400;
  font: inherit;
}

/* NAV & FOOTER*/

nav {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

footer {
  margin-top: 30px;
  font-weight: bold;
  /* border-top-left-radius: 15% 35%;
  border-top-right-radius: 15% 35%; */
  background-color: #ed2d6a;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

.dorad-gradient {
  background: linear-gradient(to bottom right, C6961E, E3AF2E);
}

.btn-dark {
  background: rgb(194, 115, 4);
  background: linear-gradient(
    45deg,
    rgba(194, 115, 4, 1) 0%,
    rgba(245, 209, 115, 1) 54%,
    rgba(144, 78, 15, 1) 100%
  );
}

/* CARRUCEL HOME*/
.carrucelfoot {
  padding: 5px;
  display: flex;
  justify-content: center;
  background: rgb(194, 115, 4);
  background: linear-gradient(
    45deg,
    rgba(194, 115, 4, 1) 0%,
    rgba(245, 209, 115, 1) 54%,
    rgba(144, 78, 15, 1) 100%
  );
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: x-large;
  text-shadow: 1px 1px 2px black;
  border-radius: 0 0 10px 10px;
}

.carround {
  border-radius: 10px 10px 0 0;
}

.view {
  min-height: 550px;
}

h1 {
  font-size: 300px;
  color: #ed2d6a;
}

.card-title {
  color: #ed2d6a;
  font-weight: bold;
}

.view-title-ser {
  font-size: 1em;
  color: #008471;
  text-align: center;
}
.view-container-planning {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  background-image: linear-gradient(45deg, #f9f9f9 25%, transparent 25%),
    linear-gradient(-45deg, #f9f9f9 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f9f9f9 75%),
    linear-gradient(-45deg, transparent 75%, #f9f9f9 75%);
  background-size: 20px 20px;
}

.view-title {
  font-size: 2rem;
  color: #008471;
  text-align: center;
}

.view-title-pink{
  font-size: 2.5rem;
  color: #ed2d6a;
  text-align: center;
}

.form-container-planning {
  text-align: center;
  margin-bottom: 2em;
}

.form-label-planning {
  font-size: 1.2em;
}

.input-group-text.back-icon {
  background-color: #fee8ef;
}

.input-group-text i {
  color: #ed2d6a;
}

.btn.btn-pink {
  background-color: #ed2d6a;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

.btn.btn-green {
  background-color: #008471;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

.btn.btn-dor {
  background: rgb(194, 115, 4);
  background: linear-gradient(
    45deg,
    rgba(194, 115, 4, 1) 0%,
    rgba(245, 209, 115, 1) 54%,
    rgba(144, 78, 15, 1) 100%
  );
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.692);
  padding: 5px 15px;
}

.img-perfil {
  height: 20%;
  width: 40%;
}

.registerText {
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
}

.reg-i {
  color: #ed2d6a;
  height: 50px;
}

.price {
  height: 1px;
}

.card-text {
  color: #ec4c7ff3;
}

.nav-link.text-item {
  color: #ed2d6a;
  font-weight: bold;
}

.linea-vertical {
  border-left: 1px solid #ccc;
  height: 100%;
  margin-left: -;
}

.view-details {
  height: 40px;
}

/* .nav-item {
  background-color: #ed2d6a;
} */

/* verde #008471
Magenta #ED2D6A
Dorado #CE8938
.dor {
  background: rgb(194,115,4);
  background: linear-gradient(45deg, rgba(194,115,4,1) 0%, rgba(245,209,115,1) 54%, rgba(144,78,15,1) 100%);  
}


*/
