<h1>Completa el forulario para solicitar tu cita</h1>

<form action="/dates" method="POST" >
  <div class="mb-3">
    <label for="service" class="form-label">Selecciona un servicio:</label>
    <select id="service" name="service" class="form-control">
      {{#each services as |service|}}
        <option value="{{service.name}}">{{service.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="mb-3">
    <label for="designDetails" class="form-label">Comentanos los detalles sobre el diseño</label>
    <textarea name="designDetails" class="form-control" id="designDetails">{{service.name}}</textarea>
  </div>

  <div class="mb-3">
    <label for="requestedDate" class="form-label">¿Que días y horas tienes disponibles?</label>
    <textarea name="requestedDate" class="form-control" id="requestedDate"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Solicitar cita</button>

</form>