<h1>Completa el forulario para solicitar tu cita</h1>

<form action="/dates" method="POST" enctype="multipart/form-data" name="cita">

  <div class="input-group mb-3">
    <label class="input-group-text" for="handState"><i
        class="fa fa-picture-o"
      ></i></label>
    <input type="file" name="handState" class="form-control" id="handState" />
  </div>

  <div class="input-group mb-3">
    <label class="input-group-text" for="desiredDesign"><i
        class="fa fa-picture-o"
      ></i></label>
    <input
      type="file"
      name="desiredDesign"
      class="form-control"
      id="desiredDesign"
    />
  </div>

  <div class="mb-3">
    <label for="service" class="form-label">Selecciona un servicio:</label>
    <select id="service" name="service" class="form-control">
      {{#each services as |service|}}
        <option value="{{service.name}}">{{service.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="mb-3">
    <label for="designDetails" class="form-label">Comentanos los detalles sobre
      el diseño</label>
    <textarea
      name="designDetails"
      class="form-control"
      id="designDetails"
    >{{service.name}}</textarea>
  </div>

  <div class="mb-3">
    <label for="date" class="form-label">Día</label>
    <input type="date" name="date" class="form-control" id="date" />
  </div>
  <h1>{{date.date}}</h1>

  <div class="mb-3">
    <label for="turn" class="form-label">Selecciona turno</label>
    <select id="turn" name="turn" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      {{! Falta meter las horas }}
    </select>
  </div>

  {{! <div class="mb-3">
    <label for="requestedDate" class="form-label">¿Que días y horas tienes
      disponibles?</label>
    <textarea
      name="requestedDate"
      class="form-control"
      id="requestedDate"
    ></textarea>
  </div> }}

  <button type="submit" class="btn btn-primary">Solicitar cita</button>

</form>